body{
	background-color: #DAEDFF;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	font-style:bold;
}

.navbar a.navbar-brand {
  background-image: url("http://www.wiconnect.ca/wp-content/uploads/2012/01/logo-2.png");
  background-size: cover;
  position: absolute;
  height: 149px;
  width: 346px;
}

.carousel-inner img {
  margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    color:black;
    background-image: none
}

@media (min-width: 768px) {
  .navbar {
    min-height:80px;
    margin-bottom: 65px;
  }

  .navbar > .container > .navbar-collapse {
    margin-left: 346px;
  }
  .navbar-default .navbar-nav > li > a {
    height: 80px;
    padding-top: 30px;
  }
  .navbar-form .form-group  {
    padding-top: 15px;
  }
}

.navbar-default {
  /*background-color: #00b635;
  #27ae60 #2ecc71
  border-color: #57fb80;*/
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  background: -webkit-linear-gradient(to bottom, #2ecc71, #27ae60);
  background: -moz-linear-gradient(to bottom, #2ecc71, #27ae60);
  background: -o-linear-gradient(to bottom, #2ecc71, #27ae60);
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #4f4f4f;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4f4f4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #00b635;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #4f4f4f;
  background-color: #BCFDCC;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #00b635;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4f4f4f;
  background-color: #BCFDCC;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #4f4f4f;
  background-color: #BCFDCC;
}
.navbar-default .navbar-toggle {
  border-color: #BCFDCC;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #BCFDCC;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #4f4f4f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4f4f4f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4f4f4f;
    background-color: #57fb80;
  }
  .navbar-form .form-group .form-control {
    width: 85%;
    display: inline-block;
  }
  .navbar-right .social-media-buttons {
    display: inline-block;
  }

  .navbar a.navbar-brand {
    width: 130px;
    height: 50px;
  }
}